@charset "UTF-8";


@media screen and (max-width:600px) {


	section {
		flex-direction: column;
	}

	.img {
		width: 270px;
		height: 270px;
		border-radius: 20px 20px 0px 0px;
	 }

	.formulario {
		width: 270px;
		height: 270px;
		border-radius: 0px 0px 20px 20px;
	}
	
	.formulario h1 {
	
	}
	
	.formulario > p {
		margin-top: 20px;
	}

	#btn_entrar {
		margin-top: 28px;
	}
	

}


