@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    font-size: .8em;
    font-family: 'Great Vibes', 'cursive';
    background-image: linear-gradient(135deg, rgb(252, 159, 19), rgba(11, 11, 34, 0.838));
}

section {
   
    width: 100vw;
    height: 100vh;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.359);
  
}

.img {
   background-image: url(imagens/building.jpg);
   background-repeat: no-repeat;
   background-size: cover;
   width: 270px;
   height: 270px;
   border-radius: 20px 20px 0px 0px;
   border-bottom: 1px solid rgb(252, 159, 19);
  
}

.formulario {
    background-image: linear-gradient(45deg, rgb(4, 4, 105), black) ;
    width: 270px;
    height: 270px;
    border-radius: 0px 0px 20px 20px;
    color: white;
    text-align: center;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.349);
}

.formulario h1 {
    background-color: rgb(252, 159, 19);
    padding-top: 6px;
    box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.56);
    color:whitesmoke;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.711);
    font-size: 1.7em;
    letter-spacing: 4px;
    font-weight: bold;
}

.formulario > p {
    margin-top: 20px;
    font-size: 1.8em;
    letter-spacing: 3px;
}

label {
    font-size: 1.4em;
    letter-spacing: 3px;
}

#email {
    margin-top: 20px;
    margin-bottom: 20px;
}

#email, #senha {
    background-color: rgb(205, 205, 205);
    width: 160px;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.379);
    font-size: 1em;  
    border-radius: 10px;
    padding: 3px;
    text-align: center;
    
}

#btn_entrar {
    padding: 5px;
    width: 120px;
    height: 30px;
    margin-top: 28px;
    color:white;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.455);
    background-image: linear-gradient(to left, rgb(252, 159, 19), rgb(8, 8, 26));
    border: none;
    border-radius: 10px;
    cursor: pointer;
    letter-spacing: 3px;
    font-family: 'Great Vibes', 'cursive';
    font-size: 1.6em;
    font-weight: bold;
    box-shadow: inset 2px 2px 3px rgba(0, 0, 0, 0.597);
}

#btn_entrar:hover {
    background-color: rgb(252, 159, 19);
    background-image: none;
}

.msg {
    margin-top: 15px;
    color: rgb(252, 159, 19);
    font-size: 1em;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
}

footer {
    margin-top: 10px;
    text-align: center;
    color: white;
    font-size: 1.3em;
    text-shadow: 2px 2px 3px black;
    letter-spacing: 2px;
}

footer a {
    text-decoration: none;
    color: rgb(252, 159, 19);
}
